<div fxLayout="column" fxLayoutAlign="space-around center" style="text-align: center;">
    <div fxFlex="50px"></div>
    <img src="https://img.icons8.com/color/96/000000/coffee-pot.png"/>
    <h1>Oops! we ran out of caffeine.</h1>  
    <p>It's just a 404 Error.</p>
    
    <p>What you're looking for may have been misplaced in Long Term Memory. Let us guide you back home.</p>
    <div fxFlex="30px"></div>
    <div>
        <button routerLink="/home" mat-fab color="warn" title="Go back to safety">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    <div fxFlex="50px"></div>
</div>