<div
  class="footer"
  fxLayoutGap="20px"
  fxLayout="row"
  fxLayoutAlign="center end"
>
<p fxHide.lt-lg fxShow.gt-md>© 2022 October Copyright: Aniket Biswas</p>
<p fxHide.gt-md fxShow.lt-lg> Aniket Biswas</p>
  <a
    href="https://www.linkedin.com/in/aniket-biswas-6137ab152/"
    target="_blank"
  >
    <img src="https://img.icons8.com/color/16/000000/linkedin.png"
  /></a>
  <a href="mailto:aniketbiswas2017@gmail.com" target="_blank">
    <img src="https://img.icons8.com/doodle/16/000000/gmail-new.png"
  /></a>
  <img src="https://img.icons8.com/doodle/24/000000/cafe--v1.png"/>
  <span fxHide.lt-lg fxShow.gt-md class="logo-footer">Déja-brèw Roasted Seasonal Craft Coffee</span>


</div>
